!!! 5
html
	head
		title= title
		block extra_css
		link(rel='stylesheet', href='/stylesheets/style.css')
		if (typeof jquery!='undefined' && jquery)
			script(src='/javascripts/jquery-1.7.1.min.js')
		if (typeof socket!='undefined' && socket)
			script(src='/socket.io/socket.io.js')
		block extra_js
	body
		block content
